html, body{
    height: 100%;
    background:   #323437;
    margin: 32px;
}

ul,nav{
    list-style: none;
    display: flex;
    margin: 0px 3px;
}
li{
    margin-right: 3px;
    color: #5f605f;
    display: flex;
    flex-direction: row;
    align-items: center;
}
i{
    margin: 0 10px;
}
.fas:hover{
    color: #bebebe;
}
a{
    display: flex;
    align-items: center;
    flex-direction: row;
}
a:hover{
    color: #bebebe;
}

p{
    color: #646669;
}


#menuIconLogo{
    flex-direction: row;
}

#menuOptionGame{
    flex-direction: column;
}

.fas{
    color: #646669;
}

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menuIcon {
    display: flex;
}
.optionGame{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}
button:hover{
    color: #bebebe;
}

.buttonOptionGame{
    border: none;
    background: none;
    font-weight: 600;
    padding: 2px;
    color: #646669;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerFooter p{
    color: #646669;
}

.iconSocialNetworks{
    display: flex;
    flex-direction: row;
}

.iconSocialNetworks i{
    margin: 0px 2px;
}
.fab:hover{
    color: #bebebe;
}

.containerMain{
    height: 500px;
}
