@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body{
    height: 100%;
    background:   #323437;
    margin: 15px 32px 5px 32px;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

ul,nav{
    list-style: none;
    display: flex;
    margin: 0px 3px;
}
li{
    margin-right: 3px;
    color: #5f605f;
    display: flex;
    flex-direction: row;
    align-items: center;
}
i{
    margin: 0 10px;
}
a{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}
p{
    color: #646669;
}
header{
    margin-top: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}
main{
    position: absolute;
    top:150px;
    width: 100%;
}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
}
a:hover{
    color: #bebebe;
}
button:hover{
    color: #bebebe;
}
.fas:hover{
    color: #bebebe;
}
#menuIconLogo{
    flex-direction: row;
}
#menuOptionGame{
    flex-direction: column;
}
#divLogoMonkey{
    display: flex;
    position: relative;
    flex-direction: column;
}
#monkeySee{
    color: #4f5053;
    margin-bottom: -15px;
    font-size: 0.8em;
    
}
#monkeytype{
    margin-top:0;
    color: #deb415;
    font-size: 2.7em;
    font-weight: 400;
}

.fab:hover{
    color: #bebebe;
}
.fas{
    color: #646669;
}
.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menuIcon {
    display: flex;
}

.optionGame{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3px;
    padding-top: 4px;
    margin-right: 100px;
}
.buttonOptionGame{
    border: none;
    background: none;
    font-weight: 600;
    padding: 2px;
    color: #646669;
}



.containerMain{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.gameMonkey{
    text-align: justify;
    font-weight: 900;
    margin: 0px 120px;
}
.buttonReset{
    display: flex;
    justify-content: center;
}
.buttonReset i{
    padding:25px 50px;
    cursor: pointer;
    margin-bottom: 40px;
}
.buttonReset .fas:hover{
    color: #deb415;
}
.sheetComands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divSections{
    display: flex;
    flex-direction: column;
}
.sectionSheetComands{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconSheetComands{
    padding: 1.6px 5px;
    background: #646669;
    color: #323437;
    margin: 3px 10px 3px 3px;
}
.textSheetComands{
    margin: 3px 10px 3px 3px;
}


.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerFooter p{
    color: #646669;
}
.palleteColors{
    display: flex;
    align-items: center;
    background:   #323437;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 2px 5px;
}
.socialNetworks{
    margin-right: 110px;
    display:flex;
    align-items: center;
}
.iconSocialNetworks i{
    margin: 0px 2px;
    color: #646669;
}


@media screen and (max-width: 850px) {
    #menuIconLogo{
        display: flex;
        flex-direction: column;
    }
    .menuIcon i{
        margin: 10px;
    }
    #menuIconLogo nav{
       justify-content: center;
    }
    #menuIconLogo nav ul{
        display: flex;
        width: 200px;
        padding-left: 0;
        justify-content: center;
    }
    #menuOptionGame{
        padding-top:6px;
    }
    .palleteColors{
        margin-left: 40px;
    }
    .iconSocialNetworks p{
        margin: 4px 0px;
    }
    .projectStudy p{
        line-break: 20px;
    }
    .containerFooter{
        min-width: 590px;
    }
    .divSections{
        flex-direction: row;
    }
    .buttonReset i{
        margin-bottom: 15px;
    }
    .gameMonkey{
        margin: 0px 100px;
    }
    footer p{
        font-size: 0.95em;
    }
}

@media screen and (max-width: 750px){
    .buttonReset i{
        margin-bottom: 15px;
        padding: 10px 50px;
    }
    .gameMonkey{
        margin: 0px 80px;
        font-size: 0.95em;
    }
}


@media screen and (max-width: 625px){
    .buttonReset i{
        margin-bottom: 30px;
        padding: 10px 50px;
    }
    .gameMonkey{
        margin: 0px 10px;
        font-size: 0.95em;
    }
}
